* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #ffffff;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #212529;
  overflow-x: hidden;
}

.container {
  /* 1140px */
  max-width: 10rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
