@media (max-width: 84em) {
  .about-box {
    max-width: 130rem;
    background-color: #ff0000;
  }

  .about-top-top {
    font-size: 7.4rem;
    background-color: yellow;
    color: black;
  }

  .about-top {
    grid-template-columns: repeat(3, 1fr);
    background-color: #0000ff;
  }
}
