.about-box {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.about-box-text {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.about-top {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  align-items: start;
  padding-bottom: 1rem;
}

.about-top-top {
  background-color: #071520;
  height: 50vh;
  border-bottom: #009bcc;
}

.about-bottom-bottom {
  background-color: #009bcc;
  height: 50vh;
}

.about-bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  align-items: start;
  background-color: #009bcc;
  padding-top: 1rem;
}

.heading {
  font-weight: 800;
  font-size: 3.8rem;
  line-height: 1.2rem;
  color: #fff;
}

.name-top {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-left: 2.8rem;
  font-weight: 100;
  letter-spacing: 1rem;
}

.name-bottom {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-left: 2.8rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
}

.description-top {
  padding-left: 2.8rem;
  line-height: 1;
  letter-spacing: 0.1rem;
}

.description-bottom {
  padding-left: 2.8rem;
  line-height: 1;
  letter-spacing: 0.1rem;
}

.about-img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.add-text {
  font-size: 1.6rem;
  font-weight: 600;
}

.add-text span {
  color: #cf711f;
  font-weight: 700;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.contact-link:link,
.contact-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.contact-link:hover,
.contact-link:active {
  color: #555;
}
